@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7em;
    color: #fff;
}

p{
    margin: 10px 0;
}

ul{
    list-style: none;
}

h1{
    font-weight: 300;
    line-height: 1.2;
}

#wrapper{
    width: 90%;
    max-width: 960px;
    margin: .5rem auto;
    border: 2px solid black;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.9);
    overflow: hidden;
    padding: 0 0 20px;
    border-radius: 10px;
    background: black;
}

#wrapper header{
    background: url(/img/Header-img.jpg)no-repeat center bottom/cover;
    /* padding:10px 0; */
}

#wrapper #page-banner{
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    padding: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#wrapper #page-banner h1{
    font-size: 2.5rem;
    font-weight: 900;
}

#wrapper #page-banner h1,
#wrapper #page-banner p{
    text-align: center;
    margin: 10px 0;
    color: #fff;
}

#wrapper #page-banner input{
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    display: block;
    padding: .5rem 1rem;
    border: none;
    border-radius: 4px;
    font-size: 17px;
}

#books-list, #add-book{
    margin: 20px 0;
}

#books-list{
    padding: 0 30px;
}

#books-list h1{
    font-weight: 500;
}

#books-list ul{
    padding: 0 20px;
}

#books-list ul li{
    padding: 20px 30px;
    border-left: 5px solid #d60606;
    margin: 20px 0;
}

#books-list ul li .delete{
    float: right;
    padding: 4px;
    background: #d60606;
    border-radius: 5px;
    cursor: pointer;
}

#books-list ul li .delete i{
    display: inline-block;
    padding: 0 20px;
    color: #fff;
    width: 100%;
    height: 100%;
}

#books-list ul li .delete:hover{
    background: #830202;
}

#add-book{
    width: 400px;
    max-width: 400px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

#add-book .hide,
#add-book .add{
    margin: 5px 0;
}

#add-book input{
    display: block;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
    width: 300px;
    max-width: 300px;
    /* float: left; */
}

#add-book button{
    border: 1px solid #d60606;
    background: #d60606;
    padding: 10px 20px;
    font-size: 16px;
    display: inline-block;
    margin: 0;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    width: 100px;
    max-width: 100px;
    /* float: left; */
    margin: 20px 0;
    border-left: 0;
    color: white;
}

#add-book .hide{
    display: flex;
}

#add-book .add{
    display: flex;
}

#add-book #hide{
    width: 30px;
    cursor: pointer;
}

#add-book label{
    line-height: 50px;
}

#tab-panel{
    padding: 0 3rem;
}

#tab a{
    margin-right: 20px;
    display: inline-block;
    padding: 10px 20px;
    background: #d60606;
    color: #fff;
    border: 0;
    border-radius: 4px;
    margin-bottom: 20px;
    cursor: pointer;
}

#tab-panel .panel{
    display: none;
    border: 5px solid #d60606;
    padding: 2rem;
    margin-bottom: 20px;
}

#tab-panel .panel.active{
    display: block;
}